body{
    background-color: var(--amarelo);
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .container{
    width: 60%;
    height: 80%;
    background-color: white;
    border: solid 6px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
} */

.end{
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.texto-end{
    width: 100%;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.texto-end>h1{
    font-size: 4rem;
}

.botoes{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-end, .btn-podio{
    width: 40rem;
    height: 4rem;
    background-color: var(--azul);
    border-radius: 15px;
    margin: 10px;
    font-size: 1.8rem;
}

.inicio{
    color:black;
}

/* .btn-end:hover{
    cursor: pointer;
    box-shadow: 4px 4px 0px 4px black;
    transform:scale(1.05);
} */

.btn-podio, .btn-end{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 0px 4px black;
}

.btn-podio:hover{
    box-shadow: 2px 2px 0px 2px black;
    cursor: pointer;
    transform:scale(0.99);
}

.btn-end:hover{
    box-shadow: 2px 2px 0px 2px black;
    cursor: pointer;
    transform:scale(0.99);
}