body{
    background-color: var(--vermelho);
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

/* AJUSTES CONTAINER PRINCIPAL */
.index1{
    justify-content: center;
}
/* AJUSTES CONTAINER PRINCIPAL */

.container-home{
    width: 100%;
    height: 60%;
    background-color: var(--azul);
    border-top: solid 6px black;
    border-bottom: solid 6px black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.container-home > h1{
    color: white;
    font-size: 4rem;
}
/* ESTILO CONTAINERS - FIM */

/* ESTILO BOTÕES - COMEÇO */
.btn-index{
    width: 20rem;
    height: 3.5rem;
    background-color: var(--amarelo);
    border: solid 4px black;
    transition: transform 0.3s ease-in-out;
    font-size: 1.5rem;
    box-shadow: 4px 4px 0px 4px black;
}

.btn-index:hover{
    transform:scale(0.99);
    box-shadow: 2px 2px 0px 2px black;
    cursor: pointer;
}

.link{
    color: black;
}

.salvar{
    height: 3rem;
    width: 3rem;
    font-size: 1rem;
    color:black;
    background-color: var(--amarelo);
    box-shadow: 2px 2px 0px 2px black;
}

.salvar:hover{
    cursor: pointer;
    transform:scale(0.99);
    box-shadow: 1.3px 1.3px 0px 1.3px black;
}
/* ESTILO BOTÕES - FIM */

/* ESTILO INPUT JOGADOR - COMEÇO */
.jogador{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

input{
    display: inline-block;
    height: 3rem;
    width: 15rem;
    margin-left: 10px;
    border: solid 2px black;
}
/* ESTILO INPUT JOGADOR - FIM */
  
input .name, #usuario{
    text-align: center;
}

.audio {
    display: none;
}