@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none; 
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  /* DECLARAÇÃO DAS VARIAVEIS  - COMEÇO*/
  :root{
    --vermelho: #f90423;
    --azul: #01aaec;
    --amarelo: #ffcd0f;
    --roxo: #7A00FF;
    --verde: #43b047;
  }
  /* DECLARAÇÃO DAS VARIAVEIS  - FIM*/

  /* COMEÇO CONTAINER PRINCIPAL- BRANCO */
  .container{
    width: 60%;
    height: 80%;
    background-color: white;
    border: solid 6px black;
    display: flex;
    align-items: center;
  }

  button{
    border: solid 4px black;
  }
  /* FIM CONTAINER PRINCIPAL- BRANCO */

  
  /* DEFINIÇÃO DE TAMANHO DE IMAGENS NAS ANIMAÇÕES - COMEÇO */
  .cloud>img{
    width: 100%;
    height: 100%;
  } 

  .star>img{
    width: 100%;
    height: 100%;
  }
  /* DEFINIÇÃO DE TAMANHO DE IMAGENS NAS ANIMAÇÕES - FIM */


/* ANIMAÇÕES - COMEÇO*/
@keyframes vir {
  from{
    right: -10%;
  }
}

@keyframes vir2 {
  from{
    left: -10%;
  }
}

@keyframes pulsar {
  0% {
      transform: scale(1);
  }
  10%, 20% {
      transform: scale(0.9);
  }
  30%, 50%, 70%, 90% {
      transform: scale(1.1);
  }
  40%, 60%, 80% {
      transform: scale(1.0);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes appear {
  0%{
    opacity: 0;
  }
  15%{
    opacity: 0,15;
  }
  30%{
    opacity: 0,30;
  }
  45%{
    opacity: 0,45;
  }
  60%{
    opacity: 0,60;
  }
  75%{
    opacity: 0,75;
  }
  90%{
    opacity: 0,90;
  }
  100%{
    opacity: 1;
  }
}

@keyframes descer{
  from{
    top:0;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-10px);
  }
  20%, 80% {
    transform: translateX(10px);
  }
  30%, 50%, 70% {
    transform: translateX(0);
  }
}
/* AINIMAÇÕES - FOM */

/* ELEMENTOS DA ANIMAÇÃO - COMEÇO*/
.cloud{
  position: absolute;
  z-index: 1;
  width: 8rem;
  height: 8rem;
}

.cloud1{
  top: 70%;
  right: 10%;
  animation: vir 2s ease-in, shake 1s ease-in-out infinite;
}

.cloud2{
  top: 10%;
  left: 10%;
  animation: vir2 2s ease-in, shake 1.5s ease-in-out infinite;
}

.star{
  position: absolute;
  z-index: 1;
  animation: pulsar 2s infinite alternate, descer 2s linear, appear 2s linear;
  width: 4rem;
  height: 4rem;
}

.star2{
  left: 18%;
  top: 85%;
  width: 4rem;
  height: 4rem;
}

.star1{
  top: 15%;
  right: 18%;
  width: 4rem;
  height: 4rem;
}
/* ELEMENTOS DA ANIMAÇÃO - COMEÇO*/


/* MEDIA QUERRIES */
@media (max-width:768px){
  /* COMEÇO CONTAINER PRINCIPAL- BRANCO */
  .container{
    width: 90%;
    height: 85%;
  }
  /* FIM CONTAINER PRINCIPAL- BRANCO */

  /* COMEÇO ANIMAÇÕES */
  .star{
    width: 3.5rem;
    height: 3.5rem;
  }

  .cloud{
    width: 22%;
    height: 14%;
  }

  .cloud1{
    top: 86%;
    right: 10%;
  }

  .cloud2{
    top: 2%;
    left: 10%;
  }

  .star2{
    left: 18%;
    top: 86%;
  }

  .star1{
    top: 4%;
    right: 18%;
  }
  /* FIM ANIMAÇÕES */

  /* MEDIA PÁGINA INDEX - COMEÇO */
  .container-home{
    height: auto;
    padding-bottom: 10px;
    min-height: 60%;
  }

  .container-home > h1{
      font-size: 50px;
  }

  .btn-index{
      width: auto;
      height: 3.5rem;
      background-color: var(--amarelo);
  }

  .jogador{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .jogador>h1{
    font-size: 24px;
  }

  .salvar{
    height: 2.5rem;
    width: 7rem;
    font-size: 1rem;
  }
/* MEDIA PÁGINA INDEX - FIM */

/* MEDIA PÁGINA MAIN - COMEÇO */
  .botaoResposta{
    min-width: 18rem;
    width:auto;
    height: 3.5rem;
  }

  .container{
    min-height: 90%;
    flex-grow: 1;
  }

  .container-questao{
    flex-grow: 1;
  }

  .cronometro{
    height: 0.1rem;
  }

  #tituloQuestao{
    font-size: 30px;
  }

  .botaoResposta{
    font-size: 18px;
  }

  .questao-pontuacao{
    width:70%;
  }

  .pontuacao, .numero-questao{
    font-size: 10px;
  }

  .personagem{
    width: 30%;
  }

  .numero-questao{
    height: 60%;
    border: solid 3px black;
  }

  .marcadores{
    gap: 20px;
  }
/* MEDIA PÁGINA MAIN - FIM */

/* MEDIA PÁGINA END - COMEÇO */
  .texto-end>h1{
    font-size: 2.2rem;
  }

  .btn-end, .btn-podio{
      width: 18rem;
  }
  /* MEDIA PÁGINA END - FIM */

  /* MEDIA PÁGINA HIGHSCORE - COMEÇO */
  .index{
    width: 18rem;
  }

  #usuarioExibir, #pontos1, #pontos2, #pontos3{
    font-size: 1.5rem;
  }
  /* MEDIA PÁGINA HIGHSCORE - FIM */
}

@media (min-width:884px) and (max-width:1300px){

  #usuarioExibir, #pontos1, #pontos2, #pontos3{
    font-size: 2rem;
  }

  .container{
    width: 90%;
    height: 85%;
  }

  .container-questao{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #tituloQuestao{
    font-size: 3rem;
  }

  .botaoResposta, .btn-podio, .btn-end, #btn-iniciar, .index{
    width: 35rem;
    min-height: 5rem;
    height: auto;
    font-size: 2.5rem;
  }

  .botaoResposta{
    width: 35rem;
    min-height: 4rem;
    height: auto;
    font-size: 1.5rem;
  }

  input{
    height: 3rem;
    width: 20rem;
  }

  input .name, #usuario{
    text-align: center;
    font-size: 1rem;
  }

  .salvar{
    width: 6rem;
  }

  .container-home{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60%;
    height: auto;
  }

  .container-home > h1{
    font-size: 4rem;
  }

  .texto > h1{
    font-size: 5rem;
  }
}

@media (min-width:767px) and (max-width:884px){

  #usuarioExibir, #pontos1, #pontos2, #pontos3{
    font-size: 2.5rem;
  }

  .container{
    width: 90%;
    height: 85%;
  }

  .container-questao{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #tituloQuestao{
    font-size: 3.5rem;
  }

  .botaoResposta, .btn-podio, .btn-end, #btn-iniciar, .index{
    width: 35rem;
    min-height: 5rem;
    height: auto;
    font-size: 2rem;
  }

  .container-home{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-home > h1{
    font-size: 4rem;
  }

  .texto > h1{
    font-size: 5rem;
  }

  input .name, #usuario{
    text-align: center;
    font-size: 1rem;
  }

  .salvar{
    width: 6rem;
  }
}